:root {
  --light-bg: #0b2942;
  --main-bg: #011627;
  --dark-bg: #010e19;
  --text: #d6deeb;
  --accent: #addb67;
  --heading: #82aaff;
  --opacity: 50%;
  --border-color: color-mix(in srgb, currentColor var(--opacity), transparent);
  --radius: 7px;
  --table-border-width: 1px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--text);
  background-color: var(--main-bg);
}

.cv {
  background-color: var(--light-bg);
  flex: 1;
  margin: 10px;

  border-radius: var(--radius);
}

.cvdata {
  background-color: var(--light-bg);
  width: 300px;

  margin: 10px;
  padding: 10px;
  border-radius: var(--radius);
}

html,
body {
  margin: 0px;
  padding: 0px;
}

#root {
  display: flex;
  height: 100%;
}

p {
  padding: 0px;
  margin: 0px;
}
